[Unit]
Description=Clipboard Manager Service - ClipHist
After=grahpical.target display-manager.service

[Service]
User=your-username
Environment="DISPLAY=XX"
ExecStart=/usr/bin/python3 /path/to/ClipHist.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target